body {
  font-size: 16px;
  color: #fff;
  background-color:#0b0c10;
  font-family: 'Dancing Script', cursive;
}

/** HEADER **/
#header-nav {
  background-color: #1f2833;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Anton', sans-serif;
  color: #66fcf1;
  font-size: 70px;
  text-transform: uppercase;
  padding-top: 20px;
  text-shadow: 1px 1px 1px #0b0c10;
  m
  margin-bottom: -10;
  line-height: 0;
}


  

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
  text-align: right;
}
#nav-list a {
  color: #66fcf1;
  text-align: center;
}

#nav-list a:hover {
  background: #66fcf1;
  color: #1f2833;
}
#nav-list a span {
  font-size: 1.5em;
}
#phone {
  margin-top: 5px;
  
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone span span{ /* Phone number */
font-family: 'Dancing Script', cursive;
}
#phone div { /* We Deliver */
  color: #66fcf1;
  text-align: right;
  font-size: 0.7em;
  font-family: 'Dancing Script', cursive;
  padding-right: 20px;
}
#phone div : hover{
    background: #66fcf1;
  color: #1f2833;
}








/*body*/

#main-content >h1{
  color:#66fcf1;
  text-align: center;
}
#food1>h1{
  text-align: center;
}#food2>h1{
  text-align: center;
}#food3>h1{
  text-align: center;
}

#food1 {
  background-color: #1f2833;
 
  top: 0;
  right: 0;
  margin-bottom: 20px;
  border-radius: 20px;
 

 
  padding: 10px;
  text-align: justify;
font-family: 'Josefin Sans', sans-serif;

}
.row{
  margin-left: 0px;
}


#food2 {
  background-color:#1f2833;
  color: white;
  border-radius: 20px;
 
  top: 0;
  right: 0;
  margin-bottom: 20px;
 
  
  padding: 10px;
  text-align: justify;
font-family: 'Josefin Sans', sans-serif;

}
#food3 {
 background-color: #1f2833;
 
  top: 0;
  border-radius: 20px;
  right: 0;
 
margin-bottom: 20px;
  
  padding: 10px;
  text-align: justify;
font-family: 'Josefin Sans', sans-serif;

}


.row {
  width: 100%;

}




/* body end*/
/*footer*/
.panel-footer{
background-color: #45a29e;
color: #1f2833;
border:none;
margin-top: 20px;
}


@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 10px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;font-size: 5vw;
     /* 1vw = 1% of viewport width */
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #66fcf1;
    background-color: #66fcf1;
    color: #0b0c10;
    font-family:'Yusei Magic', sans-serif;
  }

  #xs-deliver {
 
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family:'Yusei Magic', sans-serif;

  }
  /* End Header */

}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */


  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}

